body{
    margin:0;
    padding:0;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#0b1522;
}

.box{
    background-color: rgb(255, 218, 213);
    height:550px;
    width:700px;
    border:10px solid rgb(253, 149, 149);
    box-shadow: 0 0 5px rgb(251, 222, 219);
    
    
}

.heart{

    height:60px;
    width:60px;
    background-color: #fc1010;
    position:relative;
    transform:rotate(-45deg);
    box-shadow: -10px 10px 90px #fc0022;
    animation:heart 0.6s linear infinite;
}
@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}
.heart:before{
    content:'';
    position:absolute;
    height:60px;
    width:60px;
    background:#fc1010;
    top:-50%;
    border-radius:50px;
    box-shadow: -10px -10px 90px #fc0022;
    


}
.heart:after{
    content:'';
    position:absolute;
    height:60px;
    width:60px;
    background:#fc1010;
    right:-50%;
    border-radius:50px;
    box-shadow: 10px 10px 90px #fc0022;


}
.word{
    padding:30px;
    padding-bottom:20px;
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    font-weight:500;
    
}
.text{
    font-size:25px;
}
.btn{
    
    margin:0 90%;
    margin-top:80px;
    padding:15px;
    border:none;
    background-color:rgb(0, 0, 0);
    box-shadow:0 0 10px #0ef;
    border-radius:50px
}
.btn a{
    text-decoration:none;
    font-size:20px;
    color:aqua;

}
.btn a:hover{
    color:rgb(7, 10, 134);
}